header {
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: var(--midnight-green);
  color: var(--mint-green);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

header h1 a {
  color: var(--mint-green);
  font-weight: 200;
  text-decoration: none;
}

.highlight {
  transition: 100ms;
}

.highlight:hover {
  color: white;
}

footer {
  position: relative;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--mint-green);
  color: var(--midnight-green);
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
