@import url("https://fonts.googleapis.com/css?family=Inter+Tight:200,400,900");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
  --celeste: #bdede0ff;
  --mint-green: #bbdbd1ff;
  --pigment-green: #139a43ff;
  --midnight-green: #004346ff;
  --prussian-blue: #172a3aff;
  scroll-behavior: smooth;
}

body {
  background-color: var(--prussian-blue);
}

* {
  font-family: "Inter Tight", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
