/* Styles for the title */
.title {
  text-align: center;
  font-size: 200px;
  width: 100%;
  margin: 200px 0;
  color: white;
  text-shadow: 10px 10px black;
  background-image: linear-gradient(90deg, black 0%, white 0%);
  background-position: 0% 0%;
  background-size: 200%; /* Added property to control the size of the gradient */
  transition: all 1s ease-in;
}

/* Animation for the title on hover */
@keyframes anim {
  0% {
    background-position: 10% 0%;
    background-image: linear-gradient(90deg, black 10%, white 0%);
  }
}

/* Styles for the title on hover */
.title:hover {
  animation: anim 1s;
  background-image: linear-gradient(90deg, black 50%, white 0%);
  color: black;
  text-shadow: 10px 10px white;
  background-position: -200% 0%;
  cursor: pointer;
}

/* Styles for the title when not hovered */
.title:not(:hover) {
  animation: back 1s forwards;
  transition: color 0.3s, text-shadow 0.3s;
}

/* Animation for transitioning back to the original state */
@keyframes back {
  0% {
    background-image: linear-gradient(90deg, black 50%, white 0%);
    background-position: -200% 0%;
  }
}

/* Styles for the slogan */
.slogan {
  text-align: center;
  font-size: 5rem;
}

/* Styles for the edge class */
.edge {
  background-image: linear-gradient(135deg, #3a68a0, #cca700, rgb(136, 35, 122));
  background-clip: text;
  -webkit-background-clip: text; /* For Safari */
  color: transparent;
  background-size: 400%; /* Added property to control the size of the gradient */
  animation: scroll 7s infinite alternate;
}

/* Animation for scrolling the gradient */
@keyframes scroll {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.desc {
  margin: 10% 0 0 10%;
  width: 900px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
  background-size: 200%;
  background-position: -100% 100%;
  height: 35rem;
  transition: all 0.3s;
  box-shadow: 40px 40px;
  z-index: 1;
}

.desc:hover {
  transform: scale(1.1);
  box-shadow: 70px 70px;
}

.txt {
  text-align: center;
  color: black;
  font-size: 2rem;
  padding-top: 70px;
  transition: all 1s;
}

.center {
  text-align: center;
}

.people{
  width: 900px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
  background-size: 200%;
  background-position: -100% 100%;
  transition: all 0.3s;
  box-shadow: 40px 40px;
  padding: 20px;


}
.S:hover{
  transform: scale(1.05) translate(0, -10%);
  box-shadow: 52px 52px;
}
.M:hover{
  transform: scale(1.2);
  box-shadow: 70px 70px;
}
.shadow{
  width: 50px;
  height: 50px;
  color: black;
}
.S{
  z-index: 5;
  margin: 0 10% 0 40%;
  transform: translate(0, -10%);
  
}
.M{
  margin-left: 10%;
  z-index: 4;
  box-shadow: 40px 40px;
}
.react {
  width: 2rem;
  height: 2rem;
  transition: all 0.3s;
}

.one:hover {
  animation: rotate 1s infinite linear;
  cursor: pointer;
}

.two:hover {
  animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {
  0% {
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(1.5) translate(0, 10px);
  }
  100% {
    transform: scale(1) translate(0, 0px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.discord {
  margin-top: 1rem;
  width: 10rem;
  display: inline-block;
  border-radius: 8px;
  padding: 2px;
  background-color: rgb(35,36,40);
  overflow-x: hidden;
  height: 2.5rem;
}

.discord:hover {
  background-color: rgba(0, 0, 0, 0.192);
  cursor:pointer;

}
.distxt{
  font-size: 0.75rem;
  color: rgb(181,181,179);
  display: inline-block;
}
.prof{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
}
.inline{
  display: inline;
}
.name{
  display: inline;
  position: relative;
}